.Root {
  isolation: isolate;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(28, 23, 49);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.App h1 {
  color: #FFFF;
  font-weight: bold;
  font-size: 58px;
  font-family: 'Roboto', sans-serif;
}

form.form-rescisao {
  background: #fff;
  padding: 34px;
  border-radius: 16px;
  margin-bottom: 20px;
}

form.form-rescisao div {
  margin-bottom: 10px;
}

form.form-rescisao label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form.form-rescisao TextField,
form.form-rescisao select {
  width: 100%;
}

.text-field {
  width: 100%;
}

form.form-rescisao button {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: end;
}

form.form-rescisao button:hover {
  background: #0056b3;
}

.loading {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  color: #FFFF;
}

.summary {
  background: #fff;
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.summary ul {
  list-style: none;
  padding: 0;
}

.summary li {
  margin-bottom: 5px;
}

.table-container {
  margin-bottom: 20px;
}

.tabela {
  background: #fff;
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.tabela table {
  width: 100%;
  border-collapse: collapse;
}

.tabela th,
.tabela td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.tabela th {
  background: #f4f4f4;
}

/* Remover setinhas em Chrome, Safari, Edge e Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}